        body{
            background-image: url('Imgs/background.jpg');
            z-index: 0;
            width: 100%;
            height: 100%;
        }
        html{
            scroll-behavior: smooth;
            transition-timing-function: ease-in-out 2s;
        }
        .menu{
            
            text-decoration: none;
            top: 0;
            width: 300px;
            font-size: 30px;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
        }
        
        .menu a{
            background-color: #9e9e9e;
            border-radius: 47%;
            color: black;
            padding: 50px;
            text-decoration: none;
            display: block;
            padding: 10px;
            list-style: none;
            
           
        }
        .menu a:hover
        {
            background-color: rgb(56, 56, 56);
        }
        .menu li{
            list-style: none;
            
            height: 70px;
        }
        .home{
            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            justify-content: flex-start;
            
        }
        .h-pos{
            text-align: center;
            font-size: auto;
            color: #000000;
            
        }
        .h-pos2{
            font-size: auto;
            text-align: center;
            color: rgb(0, 0, 0);
        }
        .border_background{
            background-color: rgb(104, 104, 104);
        }
        .home>.img-size{
            position: relative  ;
            margin: 1%;
            border-style: solid;
            border-width: thick;
            border-radius: 50%;
            display: block;
            top: 10%;
            width:240px;
            height: 250px;
            flex-grow: 1;
            flex-basis: 15%;
            
        }
        .dropdown-content{
            display: none;
            position: absolute;
            background-color: #000000;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown-content a {
            float: none;
            color: rgb(102, 102, 102);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        .dropdown-content a:hover {
            background-color: rgb(0, 0, 0);
            
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        nav a:hover {
        background-color: #000000;
        color: #00faed;
        }
        
        textarea{
            resize: none;
            outline: none;
            overflow: auto;
            border-radius: 10px;
            font-size: 17px;
        }
        body{
            background-color: rgb(77, 77, 77);
        }
        .container{
            text-align: center;   
        }
        .submit{
            border-radius: 10px;
            font-size: 20px;
        }
        /*This is my About me back*/
        .Aboutme{
            text-align: center;
            font-size: 50px;
            padding: 50px;
            box-sizing: border-box;
        }
        
        .center{
            text-align: center;
            font-size: 30px;
            padding: 50px;
        }
        .test
        {
            border: 50px solid rgb(145, 145, 145);
            border-radius: 2%;
            vertical-align: middle;
        }
        .text-test{
            display: inline-block;
            background-color: #9e9e9e;
            border-radius: 10px;
            padding: 10px;
            
        }
        #myBtn
        {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: red;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }
        #myBtn:hover {
            background-color: #555;
          }
          @media screen and (max-width: 600px) {
            .menu a {
              float: right;
              
            }
          }
        

